<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
      <h1>
        Caution, maintenance in progress
      </h1>
      <p>Site is being updated, it will be avilable shortly.</p>
  </body>
</html>